﻿﻿﻿body {
}


body .topbar .mainbar {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

    body .topbar .mainbar .contact {
        flex-grow: 4;
        display: flex;
        justify-content: unsafe flex-start;
        gap: 10px;
    }

    body .topbar .mainbar .login {
        flex-grow: 2;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }

.like {
    color: white;
    background-color: royalblue;
}

.flow {
    color: white;
    background-color: deepskyblue;
}

.ytb {
    color: white;
    background-color: red;
}




body .main-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2px;
}

    body .main-container .baner-container {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    body .main-container .main-container .img-1 {
        width: 310px;
    }

.img-2 {
    width: 449px;
}

.img-3 {
    width: 445px;
}

body .main-navbar {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

    body .main-navbar a {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }


body #content {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2px;
}

body .content .left-content {
    display: flex;
    justify-content: flex-start;
}

body .content .right-content {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 10px;
}

.col-left {
    margin-right: 5px;
}

    .col-left .thumnail {
        width: 95%;
    }

h3, h2 {
    color: red;
    background-color: lavenderblush;
}

.bold {
    font-weight: bold;
}
