﻿
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/css/MyStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title> @ViewBag.Title - VNEXPRESS</title>
</head>
<body>
    <div class="topbar container">
        <div class="mainbar">
            <div class="contact">
                <a>0123.888.0123(HN)</a>
                <a>- 0129.233.3555(TPHCM)</a>
                <button>Liên hệ quảng cáo</button>
                <button class="like"> <i class="bi bi-facebook"></i> Like</button>
                <button class="flow"><i class="bi bi-twitter"></i> Follow</button>
                <button class="ytb"> <i class="bi bi-youtube"></i> Youtube</button>
            </div>
            <div class="login">
                <button>Đăng nhập</button>
                <button>Đăng ký</button>
            </div>
            <div class="search">
                <i class="bi bi-search"></i>
            </div>
        </div>
    </div>


    <div class="main-container">
        <div class="baner-container">
            <img class="img-1" src="~/Content/images/Logo_Vnexpress.png" />
            <img class="img-2" src="~/Content/images/banner-ads-1.png" />
            <img class="img-3" src="~/Content/images/banner-ads-2.png" />
        </div>
    </div>

    <div class="main-navbar">
        <i class="bi bi-house-door-fill"></i>
        <a>Thời sự</a>
        <a>Thế giới</a>
        <a>Kinh doanh</a>
        <a>Giải trí</a>
        <a>Thể thao</a>
        <a>Pháp Luật</a>
        <a>Giáo dục</a>
        <a>Sức khỏe</a>
        <a>Gia đình</a>
        <a>Du lịch</a>
        <a>Khoa học</a>
        <a>Số hóa</a>
        <a>Xe</a>
        <a>Cộng đồng</a>
        <a>Tâm sự</a>
        <a>Video</a>
        <a>Cười</a>
        <a>Rao vặt</a>
    </div>
    @RenderBody()
    
</body>
</html>
