﻿@{
    ViewBag.Title = "Home-Index";
}

<div class="content" id="content">
    <div class="left-content">
        <div class="col-left">
            <h3>Trang nhất</h3>
            <img class="thumnail" src="~/Content/images/thumnails.png" />
            <h2>Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên</h2>
            <p>
                Hai ứng viên chạy đua vào chức tổng thống Mỹ Clinton và Trump đang tranh cãi nảy lửa
                trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến trống khủng bố..
            </p>
            <p class="bold">* Túi tiền tranh cử bà CLinton nặng gấp đôi tỷ phú Donald Trump</p>
        </div>
        <div class="col-right">
            <h3>English</h3>
            <p>Đài Loan đóng cửa trường học vì bão Megi</p>
            <p>Những đứa trẻ sống vất vẻo dầm cầu đã có chống dung thân</p>
            <p>Tại sao các đôi hoàn hảo vẫn ly dị</p>
            <p>Ssangyong Korando- crossrover giá một tỷ tại Việt Nam</p>
            <p>Lỗ hổng IOS 10 giúp hacker giải mã bản sao lưu dễ dàng</p>
            <h3>Góc nhìn</h3>
            <h4>'Thất thủ' trước cơn mưa</h4>
            <p>Hàng triệu người bất lực trước một cơn mưa, hay còn bởi điều gì khác?</p>
        </div>
    </div>
    <div class="right-content">
        <script language="javascript" type="text/javascript">

            dayName = new Array("Chủ nhật", "Thứ hai", "Thứ ba", "Thứ tư", "Thứ năm", "Thứ sáu", "Thứ bảy")
            monName = new Array("1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12")
            now = new Date
            document.write("<b>" + dayName[now.getDay()] + ", " + now.getDate() + "/" + monName[now.getMonth()] + "/" + now.getFullYear() + "</b>")
        </script>
        <br />
        <img src="~/Content/images/right-ads-1.png" />
        <img src="~/Content/images/right-ads-2.png" />
        <img src="~/Content/images/right-ads-3.png" />
    </div>
</div>
